@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center"
       asp-action="Index" asp-controller="Home" asp-area="">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">BlogMVC</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Heading -->
    <div class="sidebar-heading mt-2">
        Quản lý tài khoản
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUserManage" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Tài khoản cá nhân</span>
        </a>
        <div id="collapseUserManage" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Chức năng</h6>
                <a class="collapse-item @ManageNavPages.IndexNavClass(ViewContext)" asp-area="Manage" asp-controller="Manage" asp-action="Index">Profile</a>
                <a class="collapse-item @ManageNavPages.EmailNavClass(ViewContext)" asp-area="Manage" asp-controller="Manage" asp-action="Email">Email</a>
                <a class="collapse-item @ManageNavPages.ChangePasswordNavClass(ViewContext)" asp-area="Manage" asp-controller="Manage" asp-action="ChangePassword">Password</a>
                <a class="collapse-item @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-area="Manage" asp-controller="Manage" asp-action="ExternalLogin">External Login</a>
                <a class="collapse-item @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" asp-area="Manage" asp-controller="Manage" asp-action="TwoFactorAuthentication">Two-factor authentication</a>

            </div>
        </div>
    </li>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePhanquyen" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-user-cog"></i>
            <span>Phân quyền</span>
        </a>
        <div id="collapsePhanquyen" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-controller="Role" asp-action="Index" asp-area="Admin">Vai trò - Role</a>
                <a class="collapse-item" asp-controller="Role" asp-action="ListUser" asp-area="Admin">Gán vai trò (phân quyền)</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Heading -->
    <div class="sidebar-heading mt-2">
        Products
    </div>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePosts" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-newspaper"></i>
            <span>QL Sản phẩm</span>
        </a>
        <div id="collapsePosts" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-controller="Category" asp-area="Admin"><i class="fas fa-list"></i> Danh mục sản phẩm</a>
                <a class="collapse-item" asp-controller="Product" asp-area="Admin" asp-action="Index"><i class="fas fa-list"></i> Danh sách sản phẩm</a>
                <a class="collapse-item" asp-controller="Product" asp-area="Admin" asp-action="Create"><i class="fas fa-plus-circle"></i> Thêm sản phẩm</a>
                <a class="collapse-item" asp-controller="Order" asp-area="Admin" asp-action="Index"><i class="fas fa-list"></i> Danh sách đơn hàng</a>
            </div>
        </div>
    </li>



    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->